[submodule "packages/backend"]
	path = packages/backend
	url = https://github.com/ElectricalVeins/soc_net_back.git
[submodule "packages/frontend"]
	path = packages/frontend
	url = https://github.com/ElectricalVeins/soc_net_front.git
